.wrapBox {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 100px;
  .contentbox {
    width: 100%;
    text-align: center;
    h2 {
      text-align: center;
      margin-top: 30px;
    }
    .bottonmore {
      width: 197px;
      height: 60px;
      border: 1px solid #e8493f;
      border-radius: 4px;
      color: #E8493F;
      font-size: 24px;
      line-height: 60px;
      text-align: center;
      display: inline-block;
      margin-top: 60px;
    }
    .imgBox {
      width: 290px;
      height: 438px;
      box-shadow: 0px 0px 7px 1px rgba(107, 22, 10, 0.25);
      border-radius: 4px;
      margin: 10px;
      text-align: center;
      display: inline-block;
      img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 1px solid #c3231c;
        margin-top: 16px;
      }
      .teachlist {
        font-size: 30px;
        color: #333;
        margin-top: 20px;
      }
      .teachwar {
        width: 219px;
        font-size: 20px;
        margin-top: 20px;
        display: inline-block;
        text-align: center;
      }
      span {

      }
      .buttonBox {
        margin-top: 30px;
        width: 180px;
        height: 60px;
        color: #fff;
        background-color: #e8493f;
        border-radius: 5px;
        text-align: center;
        line-height: 60px;
        text-align: center;
        display: inline-block;
      }
    }
  }
  select{
      font-family: "微软雅黑";
      margin:100px;
      background: rgba(0,0,0,0);
      width: 249px;
      height: 40px;
      font-size: 18px;
      color: white;
      text-align: center;
      border: 1px #1a1a1a solid;
      border-radius: 5px;
  }
  option{
      color: black;
      background: #A6E1EC;
      line-height: 20px;
  }
  select:focus{
      border: 2px #ddd solid;
      box-shadow: 0 0 15px 1px #DDDDDD;
  }
  option:hover{
      background: #EBCCD1;
  }


  :global {
    .am-carousel-wrap {
      margin-bottom: 20px;

      .am-carousel-wrap-dot-active>span {
        background: #fff;
      }

      .am-carousel-wrap-dot>span {
        width: 30px;
        height: 6px;
        border-radius: 6px;
        margin: 0 10px;
      }
    }
  }
}
:global {
  .am-modal-transparent {
    width: 680px;
  }
  .am-modal-content {
    padding-top: 20px !important;
  }

  .am-modal-body {
    font-size: 26px;
    color: rgba(60, 61, 65, 1);
    line-height: 32px;
    padding-top:20px !important;
    padding-bottom: 32px !important;
  }
}

.note_modal {
  :global {
    .am-modal-transparent {
      // width: 400px !important;
      height: 100%;
    }
    .am-modal-content {
      background-color: #fff;
      border-radius: 4px;
      height: 754px;
    }

    .uploadImage_box {
      position: relative;
      width: 160px;
      height: 160px;
      border: 2px dashed rgba(207, 207, 207, 1);
      border-radius: 6px;
      cursor: pointer;
    }

    .uploadImage_box:before {
      position: absolute;
      content: "\e62a";
      text-align: center;
      font-family: "iconfont" !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 40px;
      color: #6c7179;
      top: 20px;
      left: 55px;
    }

    .uploadImage_box:after {
      content: "上传图片";
      position: absolute;
      left: 35px;
      font-size: 22px;
      bottom: 40px;
      color: #6c7179;
    }

    .img_box {
      position: relative;
      width: 160px;
      height: 160px;

      .upload_img {
        border-radius: 6px;
        width: 160px;
        height: 160px;
      }

      .iconfont_del {
        position: absolute;
        font-size: 30px;
        color: #999;
        opacity: .8;
        top: 0;
        right: 6px;
        cursor: pointer;
      }
    }

    .input_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 160px;
      height: 160px;
      opacity: 0;
      background-color: #000;
      cursor: pointer;
    }

    .save {
      width: 220px;
      height: 60px;
      position: absolute !important;
      right: 0;
      left: 0;
      bottom: 51px;
      margin: 0 auto;
      padding-bottom: 52px;
      line-height: 52px;
      background: rgba(232, 73, 63, 1);
      border-radius: 4px;
      color: #fff;
      text-align: center;
      span {
        font-size: 16px;
        // font-family: PingFang-SC-Medium;
        // font-weight: 500;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
.note_textarea {
  width: 600px;
  height: 340px;
  resize: none;
  font-size: 30px;
  font-weight: 500;
  color: rgba(60, 61, 65, 1);
  line-height: 40px;
  border: none;
  background: rgba(245,247,250,1);
  border-radius: 6px;
  padding: 22px 24px 20px 24px;
  box-sizing: border-box;
  margin-top: 10px;
  // -webkit-user-select: auto;
}
.titlemodal {
  font-size: 36px;
  color: rgba(51, 51, 51, 1);
}
.titlemodalfirst {
  text-align: left;
  font-size: 28px;
  color:rgba(51,51,51,1);
}
.titlecontentmodal {
  margin-top: 10px;
  text-align: left;
}
.reason {
  margin-top: 12px;
  .reasonfont {
    color: #E90F0F;
    position: absolute;
    left: 0;
    margin-left: 30px;
  }
  .note_number {
    // display: flex;
    // justify-content: flex-end;
    // padding-top: 20px;
    // text-align: right;
    // font-size: 22px;
    // font-family: PingFang-SC-Medium;
    // font-weight: 500;
    // color: rgba(153, 153, 153, 1);
    position: absolute;
    right: 0;
    margin-right: 30px;
  }
}
